artifact/
txData/
server/cache
.vscode/
.yarn/
*.bat
*.log
node_modules
*.bkp
.replxx_history
!server/resources/\[sandbox\]/sandbox-base/node_modules
bun.lock

# linux only
*.sh
alpine/
imgui.ini
yarn.lock

polyzone_created_zones.txt

server/created_doors_data.txt

